{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2; URL=homepage/" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>GPTAlten</title>
</head>

<body>
    <div>Bienvenue sur GPTAlten</div>
    <p>
        Produced by <img style='vertical-align:middle;' src={% static "altenlogo.png" %}>
    </p>
</body>

</html>