{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_home.css' %}">
    <title>GPTAlten - Tutoriel</title>
</head>

<body>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="../homepage/">Accueil</a></li>
            <li class="nav-item"><a href="../chatbot/">Chatbot</a></li>
            <li class="nav-item"><a href="../synth/">Synthétiseur</a></li>
            <li class="nav-item"><a href="../benchmark/">Benchmark</a></li>
            <li class="nav-item"><a href="../tutoriel/">Tutoriel</a></li>
            <li class="nav-item"><a href="https://www.alten.fr/"> <img src={% static "altenlogo.png" %}> </a></li>
        </ul>
    </nav>
    <br>
    <h2>Présentation</h2>
    <br>
    <l style="font-size: 20px;">GPTAlten propose différentes fonctionnalités : <b>Chatbot</b>, <b>Synthétiseur</b>, et
        <b>Benchmark</b>
    </l>
    <br><br>
    <h2>Chatbot</h2>
    <br>
    <l style="font-size: 20px;">La première fonctionnalité est celle du <b>Chatbot</b>. Envoyez votre requête via le
        prompt, et le modèle (en l'occurence celui de ChatGPT) y répondra.</l>
    <br><br>
    <h2>Synthétiseur</h2>
    <br>
    <l style="font-size: 20px;">La fonctionnalité <b>Synthétiseur</b> permet de faire de la synthèse de texte en
        fonction du Large Language Model (LLM) que vous souhaitez utiliser. Pour le moment, ChatGPT et BART sont les
        seuls modèles utilisables. D'autres modèles seront implémentés. </l>
    <br><br>
    <h2>Benchmark</h2>
    <l style="font-size: 20px;">blablablablablabla</l>
    <br>
    <br>
    <h1>Still in progress...</h1>
</body>

</html>